[Unit]
Description=Sentinel for Advanced key-value store
After=network.target

[Service]
ExecStart=/usr/bin/redis-sentinel /etc/redis/sentinel.conf
Restart=always
User=redis
Group=redis

[Install]
WantedBy=multi-user.target
