[uwsgi]
plugin = python
uid = {{ project_user }}
gid = {{ project_user }}
virtualenv = /home/{{ project_user }}/venv/
chdir = /home/{{ project_user }}/
pythonpath = ..
module = shortener:app
master = True
vacuum = True
max-requests = 5000
http-socket = :8000
workers = 4
logto = /var/log/uwsgi/app/{{ project_name }}.log
harakiri = 30
harakiri-verbose = true
lazy-apps = true
ignore-sigpipe = true
ignore-write-errors = true
disable-write-exception = true
static-map = /static=/home/{{ project_user }}/static/
