<html>
    <head>
        <title>Url Shortener</title>
        <style type="text/css">
          .center { margin-left: auto; margin-right: auto; top: 20vh; width: 100wh; position: relative; text-align: center;}
          .center input {width: 100%;}
          .center a { margin: 5% auto; width: 100px;}
          .shortened-url { background-color: #eee; padding: 5% }
        </style>
    </head>
    <body>
        <div class="center">
            <h1>URL Shortener</h1>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
